[Unit]
Description=Sip Xorg Process
After=network.target
After=jibri-xorg.service
Before=jibri-icewm.service
Before=sip-icewm.service
Before=jibri.service

[Service]
User=jibri
Group=jibri
Environment=DISPLAY=:1
ExecStart=/usr/bin/Xorg -nocursor -noreset  +extension RANDR +extension RENDER -logfile /var/log/jitsi/jibri/xorg.sip.log  -config /etc/jitsi/jibri/xorg-video-dummy.conf :1
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=jibri.service sip-icewm.service
